<h1>Sign Up</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="User name" name="username">
    <input type="password" placeholder="Password" name="password">
    <button>Submit</button>
</form>